<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.aihealthapp">

    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <!--读取电话的状态信息的权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--处理拨出电话，允许程序监视,修改或放弃播出电话-->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <application
        android:name=".ui.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        >

        <!--android9闪退-->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.mine.LoginActivity"  android:theme="@style/AppTheme.Main.Splash" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.mine.RegisterActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.mine.AuthenticationUserActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.home.HealthAskActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.mine.MineDeviceActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.home.BindDeviceActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.home.MeasureActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.home.DoctorListActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.WebActyivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.home.DoctorDetalisActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.mine.MineAskActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.mine.SearchRecordDetailsActivity" android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.home.PayCentreActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.mine.InterrogationDetailsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.mine.TakePhotoActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.app.aihealthapp.core.permission.PermissionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/permission_PermissionActivity"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <!--手环-->
        <activity android:name="com.crrepa.ble.trans.upgrade.NotificationActivity"/> />

        <service android:name="com.crrepa.ble.trans.upgrade.DfuService"/>

        <service android:name="com.app.aihealthapp.ui.activity.service.PhoneListenService"/>

        <service android:name="com.app.aihealthapp.ui.activity.service.NotifyService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter android:priority="1000">
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <!--消息通知监听服务-->

        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden">

        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>

</manifest>